* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: #fff;
}
.main h1 {
  margin-bottom: 20px;
}
