* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20%;
  font-family: sans-serif;
  background-color: rgb(32, 32, 32);
  color: #fff;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  margin-bottom: 30px;
}

button {
  border: 1px solid green;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: rgb(125, 2, 125);
  transition: 0.2s ease;
  border: none;
  color: #fff;

  cursor: pointer;
}

button:hover {
  background-color: rgb(110, 3, 110);
}

li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 1.2rem;

}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: aqua;
}